#home {
    display: grid;
    grid-template-columns: 20% 55% 25%;
}

#main-container {
    margin: 25px 15%;
}

.add-tweet-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid #eeeeee;
    padding: 20px;
    border-radius: 25px;
}

.add-tweet-form textarea {
    outline: 0;
    height: 54px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    border-color: #eeeeee;
}

.add-tweet-form button {
    width: 100px;
    height: 35px;
    outline: 0;
    border: 0;
    border-radius: 25px;
    background-color: #268fcc;
}

#tweets-list {
    display: flex;
    flex-direction: column;
}

.tweet-item {
    /* width: 80%; */
    display: flex;
    border: 1px solid #eeeeee;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.tweet-item .profile-img img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.tweet-content {
    padding-left: 10px;
}

.tweet-author-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tweet-author-handle,
.tweet-time-created {
    font-weight: 400;
    color: #6e6e6e;
    margin: 0 10px;
}

.dot-separator {
    width: 3px;
    height: 3px;
    border-radius: 99%;
    background-color: #000;
    margin-left: 6px;
    margin-right: 6px;
}

.tweet-message p {
    padding-top: 5px;
    margin-bottom: 10px;
}

.tweet-message img {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.tweet-social {
    display: flex;
    justify-content: space-evenly;
}

.tweet-social .icon i {
    padding: 5px;
}

#aside {
    height: auto;
    padding: 25px;
    background-color: #eeeeee;
}

.aside-nav {
    list-style: none;
}

.aside-nav .nav-link {
    display: flex;
    margin: 15px 0;
    align-items: center;
}

.aside-nav .nav-link img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 8px;
}